body{
	font-family: system-ui;
}

.titulop{
	margin: auto; 
	font-size: 40px;
	text-align: center;
	color: darkblue;
	font-weight: bold;
}
.intro{
	height:45%; 
	margin-left: auto; 
	margin-right: auto;
	width: 98%;
	font-size: 28px;
	text-align: justify;
}

.subtitulo{
	margin-top: 4%; 
	margin-left: 2%;
	font-size: 30px;
	text-align: justify;
	color: #016495;
	font-weight: bold;
}

.react-player{
	margin-left: 20%;
}

.cont{
	height:45%; 
	margin-left: 5%; 
	margin-right: 5%;
	width: auto;
	font-size: 20px;
	text-align: justify;
}

@media screen and (max-width: 1190px){
	.homep p{
		font-size: 25px;
	}
	.Gridh{
		height: 23%;
	}
	.titulo{
		margin-left: 20%;
	}
	.intro{
		height: 52%;
	}
}